BODY {
  overflow: auto;
  padding: 0;
}

.header {
  width: 100%;
  background-color: white;
  display: none;
}

.page {
  position: static;
  overflow: initial;
  margin: 0;
  background-color: white;
  border: none;
  padding: 1em;
}

#page-frame {
  position: static;
  /*max-width: 80em;*/
  border: none;
  background-color: none;
  margin: 0;
  min-width: 100%;
}
