HTML {
  margin: 0;
  padding: 0;
}

BODY {
  padding: 1em;
  margin: 0 auto;
  font-family: sans-serif;
  /*font-size: 10pt;
  font-family: default-font;*/
  background: white;
  color: #404040;
  box-sizing: border-box;
  height: 100vh;
}

A {
  text-decoration: none;
}

A:link {
  color: #4765BF;
}

A:visited {
  color: #6547BF;
}

/*A[id] {
  position: relative;
  display: block;
  top: -1em;
  height: 1em;
  margin-bottom: -1em;
  pointer-events: none;
}*/

P {
  margin-bottom: 0;
  margin-top: 0.75em;
}

H1,H2,H3,H4,H5,H6 {
  margin-bottom: 0;
}

H1,H2 {
  letter-spacing: 1px;
  /*padding: 0.2em 0;*/
  /*border-bottom: solid 1px #D8D8D8;*/
  /*font-weight: normal;*/
}

CODE {
  background-color: #F4F4F4;
  display: inline;
}

PRE {
  background-color: #F4F4F4;
  display: inline-block;
  padding-left: 0.5em;
  margin: 0px;
  margin-top: 0.75em;
  white-space: pre-wrap;
}

HR {
  margin-top: 0.75em;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding: 0px;
  height: 1px;
  border: none;
  border-top: solid #D8D8D8 1px;
}

PRE HR {
  margin-bottom: -0.75em;
}

TABLE.table, TABLE.error {
  border-bottom: solid #D0D0D0 1px;
  border-right: solid #D0D0D0 1px;
  padding: 0;
  margin-top: 0.75em;
  border-spacing: 0;
  empty-cells: show;
  line-height: 1.75em;
}

TABLE.table > TBODY > TR > TD, TABLE.error > TBODY > TR > TD {
  border-top: solid #D0D0D0 1px;
  border-left:  solid #D0D0D0 1px;
  padding: 0.25em 0.5em;
  vertical-align: top;
}

TABLE.table > TBODY > TR > TH, TABLE.error > TBODY > TR > TH {
  border-top: solid #D0D0D0 1px;
  border-left:  solid #D0D0D0 1px;
  padding: 0.25em 0.5em;
  text-align: left;
  vertical-align: top;
}

TABLE.desc {
  border: solid #D8D8D8 2px;
  border-collapse: collapse;
  padding: 0px;
  margin-top: 0.75em;
  border-spacing: 0;
  empty-cells: show;
}

TABLE.desc > TBODY > TR > TD {
  border: none;
  padding: 6px 12px;
}

TABLE.desc > TBODY > TR > TH {
  text-align: left;
  border: none;
  padding: 6px 12px;
}

.unknown {
  color: red;
  margin-top: 0.5em;
}

DIV.error {
  color: red;
  /*text-shadow: red 0 0 1px;*/
  padding: 2px 6px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAAD%2F7u7%2F7e3%2F7%2B%2F%2BPcSkAAAAA3RSTlMAfr5nEw4tAAAAOUlEQVQI113IMREAIAwEwUuFDKzgDJzFQsTQZp6v2XJpQlyGKKY4bOFqXBdX4Vp%2FpQtX4Bq4JjrkA%2BVGH43yEeBLAAAAAElFTkSuQmCC');
}

DIV.message {
  color: red;
  font-style: italic;
}

.command {
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: top;
}

DIV.table {
  margin-top: 0.75em;
  }
  
DIV.box {
  margin-top: 0.75em;
  display: inline-block;
  border: solid #D8D8D8 1px;
  padding: 0.5em;
}

DIV.info {
  margin-top: 0.75em;
  display: inline-block;
  border: solid #D8D8D8 1px;
  padding: 0.5em;
  padding-left: 48px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAQlBMVEUAAAD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F4%2B%2F6my%2FFfouU8juA3i9%2Fn8ftZn%2BReouXV5vh1r%2Bmbxe%2F8%2Ff7DagSmAAAACXRSTlMAL5jZ%2BgmZwdqDjccrAAAAnUlEQVQ4y%2B2T2w6DIBBEFRAZQBQv%2F%2F%2BrRW1apMA2Pnte9yS7gZmm%2BYuWcYELgrP2M%2B4kssjuPe%2BhjR3chcEajf40JMbJZZhGyGM%2FdHYeDI39DgbjChiwICj4kmDBgyAQ3TcDc3QpRBAAVxIckAoJv8KyrktV2ICtKuwv%2FAg3BfK7ycCQkSNDS8b%2BLI5Pi%2BO%2FxSGrd5RXpeVVUXmrvAAKHimlkIXqtwAAAABJRU5ErkJggg%3D%3D') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.warning {
  margin-top: 0.75em;
  display: inline-block;
  border: solid #D8D8D8 1px;
  padding: 8px;
  padding-left: 48px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAABTVBMVEUAAAD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F5cz%2Fq1j%2FqFD%2F4sb%2F%2BPH%2FpUv%2Fnz%2F%2F9%2FD%2Fypb%2FyJH%2F8%2Bf%2FoUT%2FoUL%2F8eL%2FwoT%2FvXr%2F7dr%2Fn0D%2F59D%2FuXP%2FsmX%2F%2Fv3%2F5cr%2F69b%2F3Lr%2FsWL%2FqlX%2F%2FPj%2F3Ln%2F0aP%2F%2FPn%2Fqlb%2FpEj%2F9u7%2F06j%2Fxo3%2FoEH%2F79%2F%2Funb%2F5cv%2F%2Ffz%2FsGL%2Fz5%2F%2F2rX%2FqFL%2F%2Bvb%2FvXz%2F9%2B%2F%2Fo0f%2F9ev%2FxIj%2F7dv%2FvHj%2Fq1f%2FokT3KuRtAAAAN3RSTlMAJKvu56gdJe8BwEtQA9TaBWJtCuXsEHqLFfL5IZGpI%2Fo5xzZW3gdzE%2Fsmrz%2FMAlviCXbZ8PzmANTsKgAAAT1JREFUOMuVk1dTwkAUhaMhEey9Y%2B%2FYC0eDXuyIith7QVRi%2F%2F%2BPLhLCmt1lxvOye%2Bd8M7vzzVxN%2B1dKSnWfYar7Mj9YdCURKMfikhUBAgqgAssrRBRFpbyvqsYq62kNNbVSoA7rG1lgcwv1sr6hEdv0mxiamiVAC3biOYB20Sr2be3Yc3raT3R0CkAQB6xKAkl2HKLL23f3JI5YkxXFjuMT9HoAA6dUAOgMfX9t9eP8ggcurzDgkXxNPEA3GBwSJXPA7R2GRckcQPfwjwiSeYAeEBQlUwpIOdfHxOiYKDmWTsfyPp8QEiXzeX7BOCc5l4xtZ9whjYnJguRcbMB2h9c3TBUkSwB6x%2FSMK1nyBMU%2FMKuFHMnSfGJOm8eXGvjGguaDpQYshNkfI0qCLZGhmTqKJLuGphFW1eFii5zPD%2F8qlVWc9uRAAAAAAElFTkSuQmCC') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.tip {
  margin-top: 0.75em;
  display: inline-block;
  border: solid #D8D8D8 1px;
  padding: 8px;
  padding-left: 48px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAANlBMVEUAAABduV1fv19fv19evl5gv2Bgv2Bev15gv2Bgv2Bfv19hwmFfwF9fvl9Zv1lfv19fv19fv18phBhlAAAAEXRSTlMAC7P8aoCg4EDAaxXZjhTT%2B7cu0agAAABZSURBVDjLY2CgOmBkYmZixKeARVBQkAWfAlagAlaKFLARUsBOQAGHIAEFnCAFXPidKCjIgdN8sH5BQW50CZAghEQAZh5ePrwKgICfMgUChKwYdcPAuGGAAQCcmhl8u8INnAAAAABJRU5ErkJggg%3D%3D') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.critical {
  margin-top: 0.75em;
  display: inline-block;
  border: solid #D8D8D8 1px;
  padding: 8px;
  padding-left: 48px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAgVBMVEUAAAD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2Ff33zs7uk5PnZmbiSkrgOzv%2B%2FPzzsbHjUlLfNzfkU1P639%2FlX1%2F2x8fhQEDnZ2fgPDxe2mETAAAAGXRSTlMADleYyuv7JJz2Cov8I9Iw6tGKmw2Xyfrps1b8VAAAAQRJREFUOMuNk9mWgyAQRIlb3FDjmnI3uP%2F%2FB0505hgTg8x94tAFdDddhGxcJFlRNU1VZOlCjlx1AxuGfv0Im5aNNMuLsqrKIs9S2Ja5j1MHdfNgG21Tw6GvuOuh69kbfQfP3c57GEb2wTjA%2B7vDdDBU7EA14Pabh4VuZF8YO%2FhrfXbds6%2F0tb1Uq6NhHBoEz%2F4Z6YMnaFMjJBIyxiWDRGTkfEGOiCgo%2BIIJMVFRLkscWHZLqERDxRfMSMQC4RPCJIVlChv1bHV72mrhZ51%2FN%2F3PwIhHjju0d3o%2B9nf33Dg3ureW6a%2FWm8p5LqfVev6b9ZZqg715A0qOhFIUq0mixpEUvnZ%2FAHCUY4z3Ilx4AAAAAElFTkSuQmCC') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.seealso {
  display: inline-block;
  border: none;
  padding: 0;
}

DIV.example {
  border-left: solid 0.5em #E0E0E0;
  padding: 0.5em;
  margin-top: 0.75em;
}

DIV.example:before {
  display: block;
  content: '$EXAMPLE';
  font-weight: bold;
  font-size: smaller;
}

DIV.example-title {
  color: #404040;
  font-weight: bold;
}

DIV.seealso > UL:first-child {
  margin-top: 0.75em;
}

TEXTAREA {
  font-family: monospace;
}

TABLE.index {
  border: none;
  padding: 0;
  margin-top: 0.75em;
}

TABLE.index TD {
  border: none;
  padding: 1px 6px;
  vertical-align: baseline;
}

DIV.index {
  display: inline-block;
  font-size: 85%;
  padding: 0;
  margin-top: 0.75em;
}

/*------------------------------------------------------------------*/

/*DIV.example:before {
  content: 'Example';
  display: block;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0.75em;
}*/

DIV.syntax {
  margin-top: 0.75em;
  display: inline-block;
  border: solid #D8D8D8 1px;
  background-color: #F8F8F8;
  padding: 0.25em 0.75em;
  font-family: monospace;
  white-space: pre-wrap;
}

DIV.syntax > P:last-child {
  margin-bottom: -0.75em;
}

DIV.syntax > P {
  line-height: 1.1em;
}

DIV.since {
  display: inline-block;
  background: #FF8080;
  color: white;
  font-weight: bold;
  padding: 0 0.5em;
  line-height: 1.2rem;
  text-transform: uppercase;
  font-size: 80%;
}

.letter {
  font-weight: bold;
  vertical-align: baseline;
  color: white;
  background-color: #606060;
  padding: 0 0.25em;
  margin-right: 0.25em;
  text-align: center;
}

TR {
  vertical-align: top;
}

TABLE.no-border {
  margin: 0;
  margin-top: 0.75em;
  border: none;
}

TABLE.no-border > TBODY > TR > TD {
  border: none;
}

TABLE.no-border > TBODY > TR > TH {
  border: none;
}

.symbol {
  color: black;
}

TABLE.symbols > TBODY > TR > TH {
  text-align: left;
  vertical-align: top;
  padding-right: 16px;
  padding-top: 16px;
}

TABLE.symbols > TBODY > TR > TD {
  vertical-align: top;
  padding-right: 16px;
}

TABLE.full {
  width: 100%;
  line-height: 1.5em;
}

UL,OL {
  padding-left: 2em;
  margin-bottom: 0;
  margin-top: 0.75em;
}

LI UL,LI OL {
  margin-top: 0;
}

P:first-child,UL:first-child,OL:first-child,TABLE:first-child {
  margin-top: 0;
}

H1:first-child {
  margin-top: 0;
}

DIV.table:first-child {
  margin-top: 0;
}

DIV.syntax > P:first-child {
  margin-top: -0.75em;
}

DIV.result {
  border: solid 1px #D8D8D8;
  border-top: none;
  background-color: #F8F8F8;
}

DIV.result PRE {
  padding: 0.5em 1em;
  margin: 0;
}

DIV.code {
  border: solid 1px #D8D8D8;
  margin-top: 0.75em;
  background-color: #F4F4F4;
}

DIV.code PRE {
  padding: 0.5em 1em;
  margin-top: 0;
  border: none;
}

IMG.screenshot {
  box-shadow: 0 0 0.5em rgba(0,0,0,0.25);
}
